.auth-page {
  form {
    width: 320px;
    margin: 64px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;

    label {
      display: flex;
      flex-direction: column;
      gap: 8px;

      span {
        font-size: 18px;
        color: dimgray;
      }

      input {
        box-sizing: border-box;
        height: 40px;
        font-size: 18px;
        padding-left: 8px;
      }
    }

    button {
      box-sizing: border-box;
      height: 40px;
      font-size: 18px;
      padding-left: 8px;
    }

    .error {
      color: red;
      margin: 0;
      text-align: center;
    }
  }
}
